<div class="row">
  <div class="col-xs-12" style="width: 50%">
    <form (ngSubmit)="onAddUser(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          id="name"
          name="name"
        type="text"
        class="form-control"
          ngModel
        required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          email
          class="form-control"
          ngModel
          required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ngModel
          required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">SighUp</button>
      </div>
    </form>
  </div>
</div>
