<h2 *ngIf="authService.isAuthenticated()">
 Welcome to the app!!
</h2>
<div class="row">
  <div class="col-xs-12" >
    <app-detail *ngIf="flag"></app-detail>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="width: 40%">
      <div class="form-group">
        <label>Name: </label>
        <div class="form-control" appTest>{{user?.name}}</div>
      </div>
    <div class="form-group">
      <label>Emai: </label>
      <div class="form-control">{{user?.email | shorten  }}</div>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="onClick()">Detail</button>
    </div>
    <!--<div class="col-xs-12">-->
      <!--<button type="button" class="btn btn-primary" (click)="onClick()">PopUp</button>-->
    <!--</div>-->
  </div>
</div>

